* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.btn {
	padding: 1em;
	background: #00AAFF;
	color: #FFF;
	border: none;
	border-radius: .5em;
}

.btn-block {
	width: 100%;
}

#show {
	padding: 1em;
}